@charset "UTF-8";
/* CSS Document */

body {
  font-family:"Gin and Soda Personal Use", "Grandiflora One Regular", "BD Megalona DEMO Personal Use Only Regular Italic", "Arastin Pro  FREE DEMO Regular";
  margin: 0;
  padding: 0;
  background-color: #fdf2ee;
}




.container {
  position: relative;
}
.banner {
  background-color: #6c5a2a;
  color: #fdf2ee;
  padding: 10px 0;
  overflow: hidden;
}
.banner-text span {
  white-space: nowrap;
  margin-right: 70px; 
}

.banner-text {
  animation: slideText 30s infinite linear; 
}

@keyframes slideText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.banner-text span {
  display: inline-block;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .banner {
    padding: 5px 0; 
  }

  .banner-text span {
    margin-right: 20px; 
    font-size: 14px;
  }
}





.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.container img {
  max-width: 100%;
  max-height: 100%; 
}




.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}
.menu-container {
  text-align: center;
}

.menu {
  display: inline-flex;
  justify-content: center;
  margin-top: 50px;
  border: 2px solid #6c5a2a; 
  border-radius: 20px;
  margin: 0 auto; 
  text-align: center; 
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin: 0 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #6c5a2a;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  display: block; 
  text-align: center;
}

.menu ul li a:hover {
  background-color: #ddd;
}

.menu ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #333;
  transition: width 0.3s ease;
}

.menu ul li a:hover::after {
  width: 100%;
}

.menu ul li a:focus {
  outline: none;
}

.menu ul li a:focus::after {
  width: 100%;
}

.menu ul li a:active {
  transform: translateY(2px);
}







.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Services {
  margin-bottom: 20px;
  color: #6c5a2a;
  text-align: center;
  font-size: 30px;
}

.drop-menu {
  border-collapse: collapse;
  width: 1100px;
  margin-bottom: 20px;
  color: #6c5a2a;
  font-size: 28px;
  font-family: "BD Megalona DEMO Personal Use Only Regular Italic";
	
}

.separator {
  border-top: 1px solid #6c5a2a; 
  margin: 10px 0;
}

.slot {
  cursor: pointer;
  transition: background-color 1.5s ease;
}

.slot:hover {
  background-color: #EDD7D6;
}


.dropdown-content {
  display: none;
  padding: 50px;
  background-color: #fdf2ee;
  color: #6c5a2a;
  font-family: "BD Megalona DEMO Personal Use Only Regular Italic";
}

.slot:hover .dropdown-content {
  display: block;
  transition: background-color 1.5s ease;
}














.info-container {
  background-color: #6c5a2a; 
  padding: 40px; 
  border-radius: 10px; 
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

.info-box {
  background-color: #fdf2ee; 
  padding: 70px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  color: #6C5A2A;
  font-size: 30px; 
  width: 150px; 
  height: 150px; 
  overflow: auto;
}

.Process {
  margin-bottom: 20px;
  color: #6c5a2a;
  text-align: center;
  font-size: 20px;
}

.sub-text {
  font-size: 15px; 
  color: #6C5A2A; 
  margin-top: 10px; 
  font-family: "BD Megalona DEMO Personal Use Only Regular Italic";
}











footer {
    background-color: #6c5a2a;
    padding: 20px;
    text-align: center;
	color: #FDF2EE;
}

footer p {
    margin-bottom: 10px;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
}